{{!< default}}
{{> header}}
<main class="main_linuxsavvy" role="main">
{{#foreach posts}}
<article class="article_uber" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader_uber">
	<time class="date_uber" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
	<h1 class="posttitle_uber" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
</header>
<div class="postcontent_uber" itemprop="articleBody">
	{{content}}
</div>
	<div class="posttags_uber">
		{{#if tags}}
			Tags: {{tags separator=" | "}}
		{{/if}}
	</div>
</article>
{{/foreach}}
<div class="pagination_uber">
	{{#if pagination}}
		{{{pagination}}}
	{{/if}}
</div>
</main>
{{> footer}}
